<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}">
	<div id="wrap" class="d-flex">
		
		<div class="w-80 d-flex justify-content-center">
			<section layout:fragment="contents" class="contents d-flex justify-content-center">
				<div class="w-75">
		        	<span class="text-black d-flex justify-content-end"><a><i class="bi bi-x-lg"></i></a></span>
		        	<h1 class="text-center">POST</h1>
		        	<textarea class="form-control" id="contentsInput" rows="10" placeholder="내용을 입력하세요"></textarea>
		        	<div class="d-flex mt-3">
		        		<input type="file" id="fileInput">
		        		<button type="submit" class="btn btn-dark justify-content-center btn-sm w-25" id="shareBtn">공유</button>
		        	</div>	
				</div>
	      	</section>
		</div>
	</div>
	
	<script layout:fragment="script">
		$(document).ready(function() {
			
			// share버튼이 눌릴 때
			$("#shareBtn").on("click", function() {
				let contents = $("#contentsInput").val();
				let file = $("#fileInput")[0].files[0];
				
				if(contents == "") {
					alert("내용을 입력하세요");
					return;
				}
				
				let formData = new FormData();
				formData.append("contents", contents);
				formData.append("imagePath",file);
				
				$.ajax({
					type:"post"
					, url:"/post/create"
					, data:formData
					, enctype:"multipart/form-data"
					, processData:false
					, contentType:false
					, success:function(response) {
						if(response.result == "success") {
							location.href = "/post/list-view";
						} else {
							alert("작성 실패");
							return;
						}
					}
				, error:function() {
					alert("작성 에러!");
				}
				
				
				
				
				
				
				});
				
				
			});
		});
			
	</script>

</html>