<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

	<div id="wrap">
	<section layout:fragment="contents" class="contents justify-content-center">
		<div class="input-box my-5 p-5 rounded-lg">
			<h1 class="text-center fw-bold">회원가입</h1>
			<div class="d-flex">
				<input type="text" class="form-control mt-2 w-75" id="userIdInput" placeholder="아이디"><button type="button" id="duplicateBtn" class="ml-2 rounded btn btn-secondary">중복확인</button>
			</div>
			<input type="password" class="form-control mt-2" id="passwordInput" placeholder="비밀번호">
			<input type="password" class="form-control mt-2" id="passwordConfilmInput" placeholder="비밀번호확인">
			<input type="text" class="form-control mt-2" id="nameInput" placeholder="성명">
			<div class="birthdaySelect mt-2">
				<div>생년월일</div>
				<div class="text-secondary text-small mb-1">이 정보는 공개적으로 표시되지 않습니다</div>
				<select class="box" id="year">
				    <option disabled selected>년</option>
				</select>
				<select class="box" id="month">
				    <option disabled selected>월</option>
				</select>
				<select class="box" id="day">
				    <option disabled selected>일</option>
				</select>
			</div>
			<button id="joinBtn" class="btn btn-dark text-white w-100 mt-4 btn-block rounded-lg">가입</button>
			
			<div class="text-small text-center">
				<div class="mt-5">또는</div>
				<a href="https://accounts.kakao.com/login/?continue=https%3A%2F%2Faccounts.kakao.com%2Fweblogin%2Faccount#login">카카오톡으로 로그인</a>
			</div>
			
		</div>
		<footer class="mt-5 text-secondary text-center">
			© 2024 Uzinstagrm from Meta
		</footer>
	</section>
	</div>

<script layout:fragment="script">
	$(document).ready(function () {
	  let today = new Date();
	  let year = today.getFullYear();
	  console.log(year);

	  //년도 selectbox 만들기
	  for (i = 1970; i <= year; i++) {
	    $('#year').append('<option value="' + i + '">' + i + '</option>');
	  }

	  //월 selectbox 만들기
	  for (i = 1; i <= 12; i++) {
	    $('#month').append('<option value="' + i + '">' + i + '</option>');
	  }


	  //일 selectbox 만들기
	  for (i = 1; i <= 31; i++) {
	    $('#day').append('<option value="' + i + '">' + i + '</option>');
	  }
	  
	  // joinBtn 클릭됐을 때
	  $("#joinBtn").on("click", function() {
		  let id = $("#userIdInput").val();
		  let password = $("#passwordInput").val();
		  let passwordConfilm = $("#passwordConfilmInput").val();
		  let name = $("#nameInput").val();
		  let year = $("#year").val();
		  let month = $("#month").val();
		  let day = $("#day").val();
		  
		  let birthday = `${year} - ${month} - ${day}`;
		  
		  if(id == "") {
			  alert("아이디를 입력하세요");
			  return;
		  }
		  
		  if(password == "") {
			  alert("비밀번호를 입력하세요");
			  return;
		  }
		  
		  if(password != passwordConfilm) {
				alert("비밀번호가 일치하지 않습니다")
				return;
		  }
		  
		  if(name == "") {
			  alert("이름을 입력하세요")
			  return;
		  }
		  
		  if(!year || !month || !day) {
			  alert("생년월일을 입력해주세요")
			  return;
		  }
		  
		  $.ajax({
			  type:"post"
			  , url:"/user/join"
			  , data:{"loginId":id, "password":password, "name":name, "birthday":birthday}
		  	  , success:function(response) {
		  		  if(response.result == "success") {
		  			  locaiton.href = "/user/login-view"; // 로그인 화면으로 이동
		  		  } else {
		  			  alert("회원가입 실패");
		  		  }
		  	  }
		  	  , error:function() {
		  		  alert("회원가입 에러!");
		  	  }
		  })
		  
	  })

	});


</script>

</body>
</html>