<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

	<div id="wrap">
		<section layout:fragment="contents" class="d-flex">
			<div>
				<div id="picture">
				<img src="/static/images/uzin.png" width="600">
				</div>
				<h1 class="ml-5">
				다양한 사람들과 소통하고<br>
				추억을 나눠보세요:)
				</h1>
				
			</div>
			<div class="contents justify-content-center mt-4">
				<h1 class="mt-5 text-center">Login</h1>
				<div class="input-box my-2 p-5 rounded-lg">
					<input type="text" class="form-control mt-2" id="userIdInput" placeholder="아이디">
		            <input type="password" class="form-control mt-2" id="passwordInput" placeholder="비밀번호">
					<button type="submit" id="loginBtn" class="btn btn-dark form-control text-white mt-4 rounded-lg">로그인</button>
				</div>
				
				<div class="mt-4 p-3 d-flex justify-content-center align-items-start">
					<div class="mr-2">계정이 없으신가요?</div><a href="/user/join-view">가입하기</a>
				</div>
			</div>
		
		</section>
	
	</div>
	
<script layout:fragment="script">
	$(document).ready(function () {
		$("#loginBtn").on("click", function() {
			let id = $("#userIdInput").val();
			let password = $("#passwordInput").val();
			
			if(id == "") {
				alert("아이디를 입력하세요");
				return;
			}
			
			if(password == "") {
				alert("비밀번호를 입력하세요");
				return;
			}
			$.ajax({
				type:"post"
				, url:"/user/login"
				,data:{"loginId":id, "password":password}
				,success:function(response) {
					if(response.result == "success") {
						location.href = "/home/main-view"; // 메인 화면으로 이동
					} else {
						alert("아이디와 비밀번호를 확인해주세요");
					}
				}
				, error:function() {
					alert("로그인 에러!");
				}
			})
			
		})
	})


</script>

</html>