<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

	<div id="wrap"  class="d-flex">
		<aside>
			<nav class="w-20">
				<a href="#">home</a><br>
				<a href="#">돋보기</a><br>
				<a href="#">플러스</a><br>
				<a href="#">하트</a><br>
				<a href="#">내메뉴</a>
			</nav>
		</aside>
		<div>
			<section class="contents d-flex justify-content-center">
	         <div class="input-box my-5 p-5 rounded-lg">

	         </div>
	      </section>
		</div>
	
	
	</div>

</body>
</html>